<h1><span class="far fa-clipboard"></span> Board</h1>

<div id="list-container">
    {{#if rows}}
        {{#each rows}}
            <div class="card-list-container">
                <div class="list-buttons">
                    <button class="move-left" listid="{{id}}" onclick="moveListLeft({{id}})">
                        <span class="far fa-caret-square-left"></span>
                    </button>
                    <button class="move-right" listid="{{id}}" onclick="moveListRight({{id}})">
                        <span class="far fa-caret-square-right"></span>
                    </button>
                </div>

                <h2 class="list-name" contenteditable="true" listid="{{id}}">{{name}}</h2>

                <ul class="card-list" listid="{{id}}" ondrop="dropCard(event)" ondragover="allowDropCard(event)">
                    {{#each cards}}
                        <li class="card" listid="{{../id}}" draggable="true" ondragstart="dragCard(event)" ondragend="endDragCard(event)">
                            <p contenteditable="true" listid="{{../id}}">{{this}}</p>
                            <button onclick="deleteCard(this, {{../id}})">
                                <span class="far fa-minus-square"></span>
                            </button>
                        </li>
                    {{/each}}
                    <li class="list-options" listid="{{id}}">
                        <button class="add-card" listid="{{id}}" onclick="addNewCard({{id}})" ondragover="return false">
                            <span class="far fa-plus-square"></span>
                        </button>

                        <button class="delete-list" listid="{{id}}" onclick="deleteList({{id}})" ondragover="return false">
                            <span class="far fa-minus-square"></span>
                        </button>
                    </li>
                </ul>
            </div>
        {{/each}}
        <button id="add-list" onclick="addNewList()">
            <span class="far fa-plus-square"></span>
        </button>
    {{else}}
        <div id="no-list">
            <h2>You currently have no lists available.</h2>
            <h3>Add one by clicking the button below!</h3>
            <button id="add-list" onclick="addNewList()">
                <span class="far fa-plus-square"></span>
            </button>
        </div>

    {{/if}}

</div>
