<h1><span class="far fa-clipboard"></span> Board</h1>

<div id="list-container">
    {{#if rows}}
        {{#each rows}}
            <div class="card-list-container">
                <h2 class="list-name" contenteditable="true" listid="{{id}}">{{name}}</h2>
                <ul class="card-list">
                    {{#each cards}}
                        <li class="card" contenteditable="true" listid="{{../id}}">{{this}}</li>
                    {{/each}}
                    <li>
                        <button class="add-card" onclick="addNewCard({{id}})">
                            <span class="far fa-plus-square"></span>
                        </button>
                    </li>
                </ul>
            </div>
        {{/each}}
        <button id="add-list" onclick="addNewList()">
            <span class="far fa-plus-square"></span>
        </button>
    {{else}}
        <div id="no-list">
            <h2>You currently have no lists available.</h2>
            <h3>Add one by clicking the button below!</h3>
            <button id="add-list" onclick="addNewList()">
                <span class="far fa-plus-square"></span>
            </button>
        </div>

    {{/if}}

</div>
